<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.education.mapper.ClassesMapper" >
  <resultMap id="BaseResultMap" type="com.education.model.Classes" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="ClassTitle" property="classtitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClassTitle
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Classes
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Classes
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.education.model.Classes" >
    insert into Classes (Id, ClassTitle)
    values (#{id,jdbcType=INTEGER}, #{classtitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.education.model.Classes" >
    insert into Classes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="classtitle != null" >
        ClassTitle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classtitle != null" >
        #{classtitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.model.Classes" >
    update Classes
    <set >
      <if test="classtitle != null" >
        ClassTitle = #{classtitle,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.model.Classes" >
    update Classes
    set ClassTitle = #{classtitle,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>